<!--ch09 작성 시작-->
{% extends "base.html" %}
{% block title %}장고 게시글 검색{% endblock %}
{% load staticfiles %}
{% block extrastyle %}{% static "css/tabular.css" %}{% endblock %}
{% block content %}
<div id="content">
    <!--blog.views.SearchFormView.form_valid() 함수와 함께 보면서 작업하라-->
    <h1 class="centered">게시글 검색</h1>
    <!--form 태그로 폼을 출력, 확인 누르면 POST 방식으로 요청을 동일한 URL로 전송-->
    <!--CSRF 공격(Cross Site Request Forgery) 출처: http://itstory.tk/entry/CSRF-공격이란-그리고-CSRF-방어-방법 [덕's IT Story]-->
    <!--csrf-token 태그를 써서 CSRF 공격을 방지-->

<!--실행 되는 것-->
    <form action="." method="post"> {% csrf_token %}
        <!--form은 뷰가 넘겨준 PostSearchForm을 의미함-->
{#        {{ form.as_table }}#}
        {{form | linebreaks}}
        <br />
        <input type="submit" value="확인" />
    </form>
    <br /><br />
<!---->

        <p class="centered"><strong>
            <i>통합</i> 검색어를 입력하세요.
        </strong></p>
    <br/><br/>

        <p class="centered"><strong>
            <i>개별</i> 검색어를 입력하세요.
        </strong></p>
    <!--###-->

    {# 검색어 #}
    {% if object_list and search_term and search_title and search_description and search_content and search_tag %}
        <h2 class="centered">({{ search_term }}) ({{ search_title }}) ({{ search_description }}) ({{search_content}}) ({{search_tag}})에 대한 검색 결과</h2>
        <table id="tbl">
            <tr>
                <th>번호</th>
                <th>최종 수정일</th>
                <th>제목</th>
                <th>슬러그</th>
                <th>요약</th>
                <th>태그</th>
            </tr>
            {% for post in object_list %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.modify_date|date:"Y년 m월 d일" }}</td>
                <td>
                    <a href='{{ post.get_absolute_url }}'>
                        <strong>{{ post.title }}</strong>
                    </a>
                </td>
                <td>{{ post.slug }}</td>
                <td>{{ post.description }}</td>
                <td>{{ post.tag }}</td>
            </tr>
            {% endfor %}
        </table>
    {% elif search_term and search_title and search_description and search_content and search_tag  %}
        <p class="centered">
            <strong><i>
                ({{ search_term }})({{ search_title }})({{ search_description }})({{search_content}})({{search_tag}})에 대한 검색 결과가 없습니다!
            </i></strong>
        </p>
    {% endif %}

</div>
{% endblock %}
<!--ch09 작성 종료-->